<a href="https://colab.research.google.com/github/pepper29/Do-it-Algorithm/blob/main/Do_it_%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_1%EC%9E%A5ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 실습 1-12
# + 와 - 반복해서 출력

print('+와-를 번갈아 출력')
n = int(input('numbers: '))

for i in range(n):
  if i % 2: # 홀수일 때
    print('-', end='')
  else:
    print('+', end='')

print()

+와-를 번갈아 출력
numbers: 9
+-+-+-+-+

In [ ]:
#  실습 1-13
print('+와-를 번갈아 출력')
n = int(input('numbers: '))

for _ in range(n // 2):
  print('+-', end='')  # +를 - // 2개의 출력

if n % 2:
  print('+', end='')
print()

+와-를 번갈아 출력
numbers: 12
+-+-+-+-+-+-

In [ ]:
# 실습 1-14
# *을 n개 출력하되 w개마다 줄바꿈

print('별을 출력합니다.')
n = int(input('몇개 출력?'))
w = int(input('몇개마다 줄바꿈?'))

for i in range(n):  # n번 반복
  print('*', end='')
  if i % w == w -1: # n번 판단\
    print()         # 줄바꿈

if n % w:
  print()

*
몇개 출력?8
몇개마다 줄바꿈?5
*****
***

In [ ]:
# 실습 1-15
print('별을 출력합니다.')
n = int(input('몇개 출력?'))
w = int(input('몇개마다 줄바꿈?'))

for _ in range (n // w): # n // w번 반복
    print('*'* w)
rest = n % w
if rest: # if문 판단 1번
    print('*'* rest)

별을 출력합니다.
몇개 출력?10
몇개마다 줄바꿈?2
**
**
**
**
**

In [ ]:
# 실습 1-16
print('1부터 n까지 정수의 합')
while True:
  n = int(input('n: '))
  if n > 0:
    break # n이 0보다 커질때까지 반복

sum = 0
i = 1

for i in range(1, n+1):
  sum+=i # sum에 i를 더함
  i += 1 # i에 1을 더함

print(f'1부터 {n}까지 정수의 합은 {sum}')

1부터 n까지 정수의 합
n: 9
1부터 9까지 정수의 합은 45

In [ ]:
# 실습 1-17
# 가로 세로 길이가 정수이고 넓이가 area인 직사각형에서 변의 길이 나열하기

area = int(input('직사각형 넓이를 입력:'))

for i in range(1, area+1): #1부터 사각형 넓이 계산
    if i * i > area: break
    if area % i: continue
    print(f'{i} x {area // i}')

직사각형 넓이를 입력:64
1 x 64
2 x 32
4 x 16
8 x 8

In [4]:
# 실습 1-18
import random

n = int(input('난수의 개수를 입력'))

for _ in range(n):
  r = random.randint(10,99)
  print(r, end=' ')
  if r == 13:
    print('\n프로그램 중단')
    break
else:
  print('\n난수 생성 종료')

난수의 개수를 입력5
38 77 18 37 97
난수 생성 종료

In [6]:
# 실습1-19

for i in range(1, 13):
  if i == 8:
      continue
  print(i, end=' ')
print()

1 2 3 4 5 6 7 9 10 11 12

In [7]:
# 실습 1-20

# 1 ~ 12까지 8을 건너뛰는걸 출력하기
for i in list(range(1,8)) + list(range(9, 13)):
  print(i, end=' ')
print()

1 2 3 4 5 6 7 9 10 11 12

In [8]:
# 실습 1C-3(보충수업)

print('2자리 양수입력')
while True:
    no = int(input('input: '))
    if no >= 10 and no <= 99:
        break

print(f'입력받은 수는 {no}')

2자리 양수입력
input: 5
input: 10
입력받은 수는 10

In [15]:
# 실습 1-21

# 구구단 곱셈표 출력

print('-'*35)
for i in range(1, 10):              # 행부분
    for j in range(1, 10):          # 열부분
        print(f'{i*j:3}', end=' ')  # 값을 3자리로 표현
    print()                         # 행변경
print('-'*35)

-----------------------------------
  1   2   3   4   5   6   7   8   9
  2   4   6   8  10  12  14  16  18
  3   6   9  12  15  18  21  24  27
  4   8  12  16  20  24  28  32  36
  5  10  15  20  25  30  35  40  45
  6  12  18  24  30  36  42  48  54
  7  14  21  28  35  42  49  56  63
  8  16  24  32  40  48  56  64  72
  9  18  27  36  45  54  63  72  81
-----------------------------------

In [16]:
# 실습 1-22
# 왼쪽 아래가 직각인 이등변삼각형 출력

print('이등변 삼각형')
n = int(input('길이는?: '))
for i in range(n):
    for j in range(i+1):
        print('*', end='')
    print()

이등변 삼각형
길이는?: 3
*
**
***

In [17]:
# 1-23

# 오른쪽

n = int(input('길이?'))
for i in range(n):
    for _ in range(n-i-1):    # 공백출력부분
          print(' ', end='')
    for _ in range(i+1):      # 별 출력부분
          print('*', end='')
    print()

길이?5
    *
   **
  ***
 ****
*****

In [19]:
# 실습 1C-4(보충수업)

# 함수 내부 외부에서 정의한 변수와 객체의 식별번호를 출력
n = 1 # 전역변수(함수내/외부에서 사용)
def put_id():
    x = 1 # 지역함수
    print(f'id(x)={id(x)}')

print(f'idf(1) = {id(1)}')
print(f'idf(n) = {id(n)}')
put_id()

for i in range(1, 101):
  print(f'i={i:3} id(i)={id(i)}')

idf(1) = 10757736
idf(n) = 10757736
id(x)=10757736
i=  1 id(i)=10757736
i=  2 id(i)=10757768
i=  3 id(i)=10757800
i=  4 id(i)=10757832
i=  5 id(i)=10757864
i=  6 id(i)=10757896
i=  7 id(i)=10757928
i=  8 id(i)=10757960
i=  9 id(i)=10757992
i= 10 id(i)=10758024
i= 11 id(i)=10758056
i= 12 id(i)=10758088
i= 13 id(i)=10758120
i= 14 id(i)=10758152
i= 15 id(i)=10758184
i= 16 id(i)=10758216
i= 17 id(i)=10758248
i= 18 id(i)=10758280
i= 19 id(i)=10758312
i= 20 id(i)=10758344
i= 21 id(i)=10758376
i= 22 id(i)=10758408
i= 23 id(i)=10758440
i= 24 id(i)=10758472
i= 25 id(i)=10758504
i= 26 id(i)=10758536
i= 27 id(i)=10758568
i= 28 id(i)=10758600
i= 29 id(i)=10758632
i= 30 id(i)=10758664
i= 31 id(i)=10758696
i= 32 id(i)=10758728
i= 33 id(i)=10758760
i= 34 id(i)=10758792
i= 35 id(i)=10758824
i= 36 id(i)=10758856
i= 37 id(i)=10758888
i= 38 id(i)=10758920
i= 39 id(i)=10758952
i= 40 id(i)=10758984
i= 41 id(i)=10759016
i= 42 id(i)=10759048
i= 43 id(i)=10759080
i= 44 id(i)=10759112
i= 45 id(i)=10759144
i= 46 id(i)=10759176
i= 47 id(i)=10759208
i= 48 id(i)=10759240
i= 49 id(i)=10759272
i= 50 id(i)=10759304
i= 51 id(i)=10759336
i= 52 id(i)=10759368
i= 53 id(i)=10759400
i= 54 id(i)=10759432
i= 55 id(i)=10759464
i= 56 id(i)=10759496
i= 57 id(i)=10759528
i= 58 id(i)=10759560
i= 59 id(i)=10759592
i= 60 id(i)=10759624
i= 61 id(i)=10759656
i= 62 id(i)=10759688
i= 63 id(i)=10759720
i= 64 id(i)=10759752
i= 65 id(i)=10759784
i= 66 id(i)=10759816
i= 67 id(i)=10759848
i= 68 id(i)=10759880
i= 69 id(i)=10759912
i= 70 id(i)=10759944
i= 71 id(i)=10759976
i= 72 id(i)=10760008
i= 73 id(i)=10760040
i= 74 id(i)=10760072
i= 75 id(i)=10760104
i= 76 id(i)=10760136
i= 77 id(i)=10760168
i= 78 id(i)=10760200
i= 79 id(i)=10760232
i= 80 id(i)=10760264
i= 81 id(i)=10760296
i= 82 id(i)=10760328
i= 83 id(i)=10760360
i= 84 id(i)=10760392
i= 85 id(i)=10760424
i= 86 id(i)=10760456
i= 87 id(i)=10760488
i= 88 id(i)=10760520
i= 89 id(i)=10760552
i= 90 id(i)=10760584
i= 91 id(i)=10760616
i= 92 id(i)=10760648
i= 93 id(i)=10760680
i= 94 id(i)=10760712
i= 95 id(i)=10760744
i= 96 id(i)=10760776
i= 97 id(i)=10760808
i= 98 id(i)=10760840
i= 99 id(i)=10760872
i=100 id(i)=10760904